body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  position: relative;
  font-weight: 700;
  color: #041230;
  font-size: 35px;
  text-align: center;
  padding: 30px 0;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 8%;
    background: #2daee0;
    height: 2px;
    bottom: 24px;
  }
}
